<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='ppe.css') }}">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<title>PPE</title>

</head>
<body>
    {% include "header.html" %}

    <div id="reader" height="250px" width="600px"></div>

    <form id="logs" action="/logs" method="post" onsubmit="submitted()">
        <input type="text" id="empID" name="empID" placeholder="Employee ID" value="">
        <input type="text" id="ppeID" name="ppeID" placeholder="PPE ID" value="">
        <input type="submit" value="Submit" />
    </form>
</body>
</html>

<script>
function onScanSuccess(decodedText, decodedResult) {
  var empID = document.getElementById('empID');
  var ppeID = document.getElementById('ppeID');

  console.log(decodedText.charAt(0))
  console.log(decodedText)

  if (ppeID.value == ""){
    if(decodedText.charAt(0) == "P"){
      document.getElementById('ppeID').value = decodedText.substring(1);
    }
  }
  else{
    console.log("PPE Input Already Filled")
  }

  if (empID.value == ""){
    if (decodedText.charAt(0) == "E"){
      document.getElementById('empID').value = decodedText.substring(1);
    }
  }
  else{
    console.log("EMP Input Already Filled")
  }

  console.log("START OF INPUT CHECK");
  console.log(document.getElementById('empID'));
  console.log(document.getElementById('ppeID'));

  if(empID.charAt(0) == "E"){
    if(ppeID.charAt(0) == "P"){
        console.log("submitting")
        document.forms["logs"].submit();
        alert('submitted');
    }
  }
}


function onScanFailure(error) {
  // handle scan failure, usually better to ignore and keep scanning.
  // for example:
  setTimeout(() => {console.warn(`Code scan error = ${error}`)}, 3000);
}

let html5QrcodeScanner = new Html5QrcodeScanner(
  "reader",
  { fps: 10, qrbox: {aspectRatio: 1.2, width: 600, height: 250} },
  /* verbose= */ false);
html5QrcodeScanner.render(onScanSuccess, onScanFailure);

function submitted(){
  alert("PPE Tag and Employee ID Scanned")
}
</script>